<p id="notice"><%= notice %></p>

<p>
  <strong>Admin mail:</strong>
  <%= @adminmail.admin_mail %>
</p>

<%= link_to 'Edit', edit_adminmail_path(@adminmail) %> |
<%= link_to 'Back', adminmails_path %>
